@import "../../styles/variables";

.main {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 50px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;

  &__button {
    background: rgb(33 150 243 / 100%);
    color: $white-color;
    padding: 15px 20px;
    border: none;
    border-radius: $border-radius;
    text-transform: uppercase;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
    }

    &_disabled {
      background: rgb(33 150 243 / 50%);

      &:hover {
        cursor: auto;
      }
    }
  }
}

.ticket {
  background: $white-color;
  border-radius: $border-radius;
  padding: 20px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(33 150 243 / 100%);
    font-size: 24px;
    margin-bottom: 15px;

    &__image {
      width: 120px;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__box {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      &__column {
        display: flex;
        flex-direction: column;

        div {
          font-size: 14px;
          line-height: 18px;

          &:first-child {
            color: rgb(160 176 185 / 100%);
            text-transform: uppercase;
          }

          &:last-child {
            color: $grey-color;
          }
        }

        time {
          color: $grey-color;
        }
      }
    }
  }
}


.sort {
  width: 100%;
  display: flex;
  justify-content: space-between;

  &__button {
    flex: 1;
    background: $white-color;
    color: $grey-color;
    line-height: 20px;
    padding: 15px 20px;
    border: 1px solid rgb(223 229 236 / 100%);
    text-transform: uppercase;

    &:first-child {
      border-radius: $border-radius 0 0 $border-radius;
      border-right: none;
    }

    &:last-child {
      border-radius: 0 $border-radius $border-radius 0;
      border-left: none;
    }

    &_active {
      background: $primary-color;
      color: $white-color;
      border: none;
    }

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
    }
  }
}

@media (width <= 768px) {
  .main {
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
  }

  .list {
    width: 100%;
  }

  .sort {
    flex-direction: column;

    &__button {
      border: 1px solid rgb(223 229 236 / 100%);

      &:first-child {
        border-radius: $border-radius $border-radius 0 0;
        border-right: 1px solid rgb(223 229 236 / 100%);
        border-bottom: none;
      }

      &:last-child {
        border-radius: 0 0 $border-radius $border-radius;
        border-left: 1px solid rgb(223 229 236 / 100%);
        border-top: none;
      }
    }
  }
}

