body {
  margin: 0;
  padding: 0;
  background-color: rgb(243 247 250 / 100%);
  position: relative;
}

* {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-optical-sizing: auto;
  font-style: normal;
}
