@import "../../../styles/variables";

.aside {
  position: sticky;
  top: 30px;
  height: min-content;
  width: 250px;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 10%);
  padding: 20px 0;
  background: $white-color;
  border-radius: $border-radius;

  &__header {
    text-transform: uppercase;
    font-size: 13px;
    margin: 0;
    padding: 0 20px 10px;
    color: rgb(33 28 28 / 100%);
  }

  &__filters {
    display: flex;
    flex-direction: column;

    &__filter {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 13px;
      padding: 10px 20px;
      color: $grey-color;

      &:hover {
        background: rgb(241 252 255 / 100%);
        cursor: pointer;
      }

      &__input {
         &:hover {
           cursor: pointer;
         }
      }
    }
  }
}

@media (width <= 768px) {
  .aside {
    width: 100%;
    position: unset;
  }
}
